body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: auto;
    position: relative;
}

.stopwatch {
    background-color: #1f1f1f;
    border-radius: 50%;
    box-shadow: 0 0 5px  #FFA500;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.time {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #FF8C00;
    transform: scale(1.1);
}

button:focus {
    outline: none;
}


.laps {
    margin-top:50px;
    width: 70%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
        box-shadow: 0 0 2px  #FFA500;
    
}

.lap {
    display: flex;

    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #333;
}

.lap:last-child {
    
    border-bottom: none;
}
